<!doctype html>
<html>
   <head>
      <title>Hi</title>
   </head>
   <body>
       <form action = "/" method = "post">
           <input type = "text" name = "username" placeholder = "Username">
           <input type = "submit" value = "poke">
       </form>
   </body>
</html>